.link-back{
  position: relative;
  left: 63%;
  padding: 8px 12px;
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 20px !important;
}
.parent-data-search{
  background-color: #f2f2f2;
  padding: 25px;
  border-radius: 8px;
  /* height: 80vh; */
}
.parent-data-search h2{
color:#0d6efd ;
margin-bottom: 25px;
}
.parent-data-search h6{
  color: rgb(85, 84, 84);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}
.parent-data-search p{
  background-color: #fff;
  padding: 8px 25px;
  width: fit-content;
  margin: 15px auto;
  min-width: 70%;
}